@import '../../../../../../styles/consts';

.Issues {
	margin: $spacing * 2;
	width: 100%;

	.issue-heading {
		text-align: left;
		padding: $spacing;
	}

	.Issue {
		border-radius: $spacing / 2;
		td {
			padding: $spacing;
		}

		.avatar {
			padding: $spacing* 2;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}

		.handle {
			cursor: grab;
			padding-right: 0;
		}
	}
}

.empty {
	margin: $spacing;
}
