@import '../../../../styles/consts';

.Repo {
	.row {
		display: flex;
		flex-direction: row;

		.title {
			display: none;
			flex-grow: 1;
		}

		.sidebar {
			margin-right: $spacing * 2;
			min-width: 200px;
			flex-grow: 1;
		}

		.container {
			flex-grow: 10;
			display: flex;

			.Loading {
				justify-self: center;
				align-self: center;
				flex-grow: 1;
			}
		}
	}
}


@media (max-width: 900px) {
	.Repo {
		.row {
			flex-direction: column;

			.sidebar {
				display: none;
			}

			.title {
				display: block !important;
			}
		}
	}
}
