@import '../../../styles/colors';
@import '../../../styles/consts';

.AppHeader {
	display: flex;
	flex-direction: row;
	place-content: space-between;
	height: 40px;
	padding: $spacing * 1.3;
	background-color: $accentColor;
	align-content: center;
	a {
		color: white;
	}

	.title {
		font-size: 2.0em;
		a {
			text-decoration: none;
		}
	}

	.logout {
		display: flex;
		align-items: center;
	}
}
