@import './colors.scss';
@import './consts.scss';

p {
  color: $fontColor;
  font-family: Roboto,sans-serif;
}

input[type=button], input[type=submit], input[type=reset], button {
  padding: $spacing;
  border-radius: $spacing / 2;
  font-size: 1.0em;

  &.primary {
	color: $accentColor;
	background-color: lighten($accentColor, 35%);
	border-color: darken($accentColor, 10%);
	&[disabled] {
	  color: lighten($accentColor, 12%);
	  border-color: lighten($accentColor, 10%);
	}
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}
